appdirs
attrs
Babel
beautifulsoup4
cachetools
certifi
cffi
charset-normalizer
colorama
cryptography
customtkinter
darkdetect
et-xmlfile
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gspread
h11
httplib2
idna
importlib-metadata
isodate
lxml
msedge-selenium-tools
numpy
oauth2client
oauthlib
openpyxl
outcome
packaging
pandas
pillow
platformdirs
protobuf
psycopg2
pyasn1
pyasn1-modules
pycparser
pyee
PyMuPDF
PyMuPDFb
pyparsing
pyppeteer
PySocks
python-dateutil
python-dotenv
pytz
requests
requests-file
requests-oauthlib
requests-toolbelt
rsa
selenium
six
sniffio
sortedcontainers
soupsieve
StrEnum
suds
tkcalendar
tqdm
trio
trio-websocket
typing_extensions
tzdata
uritemplate
urllib3
webdriver-manager
websockets
wsproto
zeep
zipp
